:root {
    --primary-color-light: #1ba5d3;
    --color-light: white;
    --color-dark: black;
  }
  
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--color-dark);
    overflow-wrap: break-word;
    margin: 0px;
  }
  body {
    min-width: 100vw;
    width: max-content;
    min-height: 100vh;
    background-color: var(--color-light);
    margin: 0px;
    border: 0px;
    display: block;
    overflow: scroll;
  }
  header {
    padding: 0.5rem 1rem;
  }
  tr {
    display: flex;
    justify-content: center;
  }
  .row-type {
    justify-content: left;
    align-items: center;
    width: max-content;
  }
  td {
    display: block;
  }
  .flex-box {
    display: flex;
  }
  .episode {
    margin-bottom: 100px;
  }
  .episode-title {
      font-size: 1.4rem;
      margin: 0px;
      margin-bottom: 0.5rem;
  }
  .interactions-container {
    display: flex;
  }
  .interaction-part {
    position: relative;
    margin: 0 2px;
  }
  .interaction {
    max-width: 250px;
    width: min-content;
    padding: 5px;
  }
  .initiator {
      padding: 0em 2em;
      border: 1px solid black;
      border-radius: 10px;
      min-height: 50px;
      max-width: 250px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  }
  .technology {
      width: 40px;
      height: 40px;
      margin: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border: 1px solid black;
    border-radius: 25px;
    z-index: 1;
  }
  .receiver {
    padding: 0em 2em;
      border: 1px solid black;
      border-radius: 10px;
      min-height: 50px;
      max-width: 250px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }
  .conversation {
    padding: 0 1em;
    font-size: 0.9em;
  }
  .fob {
    background-color: #a396a5;
  }
  .iil {
    background-color: #ebd967;
  }
  .ii2 {
    background-color: #ebd967;
  }
  .inst2 {
    background-color: #90a2b8;
  }
  .bracket {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-top: 0px;
  }
  .bracket-arrow {
    width: 50%;
    height: 15px;
    border-right: 1px solid black;
  }
  .interaction-part-label {
    width: 100%;
    text-align: center;
  }
  .bracket-label-container {
      position: absolute;
      bottom: -50px;
      width: 100%;
  }
  .inputs-container {
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid black;
  }
  #poster-container {
    padding: 0.5rem 1rem;
  }